#about .self-introduction {
    margin: auto;
    width: 700px;
    text-align: left;
    margin-bottom: 30px;
}

#skill{
    text-align: center;
    font-size: large;
}

.about-img{
    height: 110px;
}

.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #2c3e50;
    font-weight: 700;
    font-size: larger;
}

.contact-info{
    text-align: center;
    color: #2c3e50 !important;
}

.contact-massage{
    text-align: center;
    font-size: larger;
    color: #2c3e50 !important;
}

#portfolioModal1Label, #portfolioModal2Label, #portfolioModal3Label{
    font-size: x-large;
}

.project-info{
    display: flex;
    flex-direction: column;
}

.project-info p{
    text-align: left;
    margin-bottom: 20px important!;
    font-size: large;
}

.project-info a{
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
}